* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario   : #ffffff;
    --color-secundario : #da5100;

    --color-fondo  : #737373;
    --color-fondo2 : #f2f2f2;
    --color-fondo3 : #0d0d0d;
    --color-fondo4 : #252424;

    --oscuro1: #121416;
}

.estado__alterado {
    display: none !important;
}

#cerrar_compra {
    color: white;
}

/*  ______________________________  NAV  ______________________________  */

nav {
    background-color: var(--color-primario);
    top: 0;
    z-index: 1000;
    position: sticky !important;
    width: 100%;
    height: 8vh;
    box-shadow: 3px 5px 10px;
}

#carrito {
    font-size: 24px;
}

nav .fondo__carrito {
    background-color: var(--color-primario);
    border: none;
    position: relative;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.fondo__carrito > i:hover {
    color: #4f4c4c;
}

nav .logo {
    height: 3rem;
}

nav .contenedor__contador {
    height: 20px;
    width: 20px;
    background-color: var(--color-secundario);
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

nav #contador {
    color: var(--color-primario);
}

.contenedor__2 { 
    position: absolute;
    background-color: var(--color-primario);
    top: 8vh;
    height: 5vh;
    width: 100px;
    border-bottom-right-radius: 1.8rem; 
    z-index: -1 !important;
    display: flex;
    padding-left: 12px;
    box-shadow: 0px 4px 4px 0px;
}

.contenedor__2 div i {
    cursor: pointer;
    font-size: 20px;
}

.contenedor__2 div i:hover{
    color: #4f4c4c;
    font-size: 22px;
}

.texto {
    font-size: 1.2rem;
    font-weight: 400;
}

.carousel-inner div img{
    height: 40vh !important;
}

/*  ______________________________  PRODUCTOS  ______________________________  */

.producto {
    padding: 1rem;
}

.hamburguesas--productos {
    background-size: cover;
    background-position: center;
    height: 150px;
}

.hamburguesas {
    min-height: 400px;
}

/**** SIMPLES ****/
.producto1 {
    background-image: url("../img/productoC/c1.jpg");
}
.producto2 {
    background-image: url("../img/productoC/c2.jpg");
}
.producto3 {
    background-image:  url("../img/productoC/c3.jpg");
}
.producto4 {
    background-image:  url("../img/productoC/c4.jpg");
}
.producto5 {
    background-image:  url("../img/productoC/c5.jpg");
}
.producto6 {
    background-image:  url("../img/productoC/c6.jpg");
}
.producto7 {
    background-image:  url("../img/productoC/c7.jpg");
}


/**** DOBLES ****/
.producto8 {
    background-image:  url("../img/productoC/c8.jpg");
}
.producto9 {
    background-image:  url("../img/productoC/c9.jpg");
}
.producto10 {
    background-image:  url("../img/productoC/c10.jpg");
}
.producto11 {
    background-image:  url("../img/productoC/c11.jpg");
}
.producto12 {
    background-image:  url("../img/productoC/c12.jpg");
}
.producto13 {
    background-image:  url("../img/productoC/c13.jpg");
}

/**** TRIPLES ****/
.producto14 {
    background-image:  url("../img/productoC/c14.jpg");
}
.producto15 {
    background-image:  url("../img/productoC/c15.jpg");
}
.producto16 {
    background-image:  url("../img/productoC/c16.jpg");
}
.producto17 {
    background-image:  url("../img/productoC/c17.jpg");
}


/**** CUADRUPLES ****/
.producto18 {
    background-image:  url("../img/productoC/c18.jpg");
}

.contenido {
    margin: auto;
    max-height: 150px;
}

.contenido h3{
    margin-bottom: .5rem;
    letter-spacing: .5px;
    font-weight: 550;
}

.contenido span {
    line-height: 1.5em;
    text-align: left;
}

.contenido2 {
    gap: 1rem;
}

.contenido2 div .precio {
    color: var(--color-secundario);
    font-weight: bold;
}

.comprar{
    cursor: pointer;
    display: flex;
}

.comprar div {
    padding: .5rem;
}

.comprar div:first-of-type {
    border: 1px solid var(--color-secundario);
    border-bottom-left-radius: 1rem; 
    border-top-left-radius: 1rem; 
}

.comprar div:nth-child(2){
    border-top: 1px solid var(--color-secundario);
    border-bottom: 1px solid var(--color-secundario);
}

.comprar div:last-of-type {
    border: 1px solid var(--color-secundario);
    border-bottom-right-radius: 1rem; 
    border-top-right-radius: 1rem; 
}

/*  ______________________________  MENU NAVEGACION  ______________________________  */

#seccion_1 div .navegacion ul { 
    border-top: 2px solid #4d4d4d;
    border-bottom: 2px solid #4d4d4d;
}

li{
    list-style: none;
    cursor: pointer;
}

li a{
    text-decoration: none;
    color: #4d4d4d;
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 1px;
}
   
li a:hover,  
.fondo_naranja{
    background-color: var(--color-secundario);
    color: white;
    font-weight: bold;
}

.comienzo {
    background-color: var(--color-secundario);
    color: white;
    font-weight: bold;
}

/*  ______________________________  MODAL  ______________________________  */

.boton__modal {
    background-color: var(--color-secundario) !important;
    color: var(--color-primario);
    border-left: none !important;
}

#modal__img {
    height: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.precio {
    font-size: 1.2rem;
    color: var(--color-secundario);
    font-weight: 500;
}

.precio::before {
    content: "$ ";
}

.tamaño {
    text-transform: capitalize;
    color: var(--color-fondo);
}

.adicional {
    color: var(--color-secundario);
}

.adicional::before {
    content: "$ ";
}

/*  ______________________________  CARRITO  ______________________________  */

.total {
    color: var(--color-secundario);
}

.total__pagar {
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-primario);
    background-color: rgb(37, 36, 36);
}

.carousel-inner div img{
    height: auto;
}

.vaciar,
.comprarCarrito {
    padding: .5rem;
    text-align: center;
    margin: .5rem;
    color: var(--color-primario);
    cursor: pointer;
}

.vaciar {
    background-color: #ca1111;
}

.comprarCarrito {
    background-color: #19874a;
}


/*  ______________________________  MODAL  ______________________________  */

.modal__propia {
    width: 20% !important;
    color: white;
    background-color: var(--color-fondo3);
    position: fixed;
    left: -500px; 
    bottom: -500px; 
    transition: left 1.5s ease-in-out, bottom 1.5s ease-in-out; 
    z-index: 1000;
    cursor: pointer;

}

.mostrar {
    left: 0; 
    bottom: 0; 
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

/*  ______________________________  SECCION 4  ______________________________  */

.contenedor_descripcion {
    background-color: var(--color-fondo2);
}

.content_img {
    background-color: var(--color-secundario);
    border-radius: 50%;
    padding: 1rem;
    max-width: 100px;
}

.content-producto {
    cursor: pointer;
}

/*  ______________________________  FORMULARIO  ______________________________  */

.modal-body input, 
.modal-body textarea {
    border-radius: 0px;
    background: #f2f2f2;
    box-shadow: none;
    border: 0px;
    border-left: 4px solid #212121;
}

.cambio__borde {
    border-left: 4px solid var(--color-secundario) !important;
}

.completar {
    font-weight: 00;
    line-height: 1.5;
    color: #868585 !important;
    padding: 0.4rem 0.8rem;
    border: none;
    font-size: 16px;
}

.select {
    width: 45%;
    background-color: var(--color-fondo2);
    border-left: 4px solid #212121;
    height: 36.8px;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline: none;
}

#observacion {
    min-height: 130px;
}

/*  ______________________________  FOOTER  ______________________________  */

footer {
    color: white;
    background-color: var(--color-fondo4);
}

footer h2 {
    color: var(--color-fondo2);
}

.linkedin {
    width: 24px;
}

/*  ______________________________  MODO-OSCURO  ______________________________  */

.modo-oscuro2{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: #090c11;
}

.modo-oscuro2:hover {
    background-color: rgb(173, 172, 172);
    color: white;
}

.modo-oscuro {
    cursor: pointer;
    background-color: rgb(173, 172, 172);
    border-radius: 50%;
}

.modo-oscuro:hover {
    background-color: black;
    color: white;
}

.modo-oscuro > i,
.modo-oscuro2 > i {
    width: 24px;
    height: 24px;
}

.oscuro {
    color: white;
    transition: linear .2s;
    box-shadow: none;
    background-color: var(--oscuro1)
}

.oscuro2{
    background-color: #252424;
}

.oscuro3 {
    background-color: black;
    box-shadow: none;
}

.carrito__blanco {
    background-color: black;
    color: white;
}

.textosecundario {
    color: #9b9a9a;
}

.textoprimario {
    color: var(--color-primario);
}

.btn__oscuro {
    display: block !important;
    font-size: 16px; 
    color: rgb(255, 255, 255);
}

.btn__oscuro:hover {
    color: rgb(255, 255, 255);
}

.luna {
    background-color: white;
    color: black;
}

.formulario_oscuro {
    background-color: #252424;
    color: white;
}

.inputs {
    background-color: #524f4f !important;
    color: white !important;
}

/*  ______________________________  MODAL DE ESPERA DE COMPRA  ______________________________  */

.modal-body-espera {
    position: relative;
    height: 180px;
}

.modal__espera {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}

.modal__espera2 {
    display: none;
    width: 80%;
    margin: auto;
    transition: 1s;
}

.capa-roja {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 141, 141, 0.5); 
    z-index: 9999; 
    border-radius: 7px;
    transition: 1s;
}

.modal-content {
    position: relative;
}

.modal-body .img_modal {
    margin-top: 25px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    max-height: 80vh; /* Ajusta la altura máxima de la imagen para mantener la proporción */
}

.modal_exito {
    width: 50px;
}

.añadido {
    background-color: #19874a;
    border-left: 7px solid #165e36;
    color: white;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 8px;
    
}
/*  ______________________________  @media Queris  ______________________________  */

@media (min-width: 450px) {

    .modal__propia {
        width: 50% !important;
    }
    
}

@media (min-width: 600px) {



    .modal__propia {
        width: 40% !important;
    }
    header #carouselExampleInterval .carousel-inner > .carousel-item > .foto_portada {
        height: 300px !important;
    }
    
}

@media (min-width: 800px) {

    .modal__propia {
        width: 35% !important;
    }

    header #carouselExampleInterval .carousel-inner > .carousel-item > .foto_portada {
        height: 400px !important;
    }
    
}

@media (min-width: 1000px) {

    .modal__propia {
        width: 30% !important;
    }
    header #carouselExampleInterval .carousel-inner > .carousel-item > .foto_portada {
        height: 70vh !important;
    }
}

@media (min-width: 1200px) {

    .carousel-inner div img{
        height: 75vh !important;
    }

    .articulo_info div h3 {
        font-size: 1.5rem;
    }

    .modal__propia {
        width: 20% !important;
    }
    
}